/**
 * CSS Loading Spinner
 * https://twitter.com/lukehaas
 */
.loader {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 4px solid rgba(255, 255, 255, 0.2);
    border-right: 4px solid rgba(255, 255, 255, 0.2);
    border-bottom: 4px solid rgba(255, 255, 255, 0.2);
    border-left: 4px solid #ffffff;
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.loader, .loader:after {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/**
 * Static text box for the Bootstrap btn-group's
 * Equivalent to .input-group-addon
 */
.btn-group-sm > .btn-group-addon {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-group > .btn-group-addon {
    position: relative;
    float: left;
}
.btn-group-addon {
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 0px solid #ccc;
    margin: 1px 0px 1px 1px;
    border-radius: 4px;
}
.btn-group-addon:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.btn-group-addon:first-child {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group-addon:last-child {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/**
 * Widgets
 */
.widget-title {
    font-family: "Roboto Condensed", sans-serif, bold;
    font-weight: 400;
    font-size: 20px;
}

.widget-toolbar {
    padding: 3px;
    height: 36px;
    background-color: #ccc;
}

.widget-input > .form-control {
    font-family: 'Inconsolata';
    font-size: 14px;
    width: 80px;
}

.widget-content {
    padding: 5px;
    background-color: #eee;
}
