/**
 * Navbar
 */
.navbar {
    border: 0px;
    background: #3C3F41;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

.nav > li > .navbar-brand {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    transition: text-shadow 0.2s;
}

.nav > li > .navbar-brand:hover {
    background: #3C3F41;
    color: #fff;
    text-shadow: 0px 2px 10px #000;
}

.nav > li > a {
    color: #ddd;
    transition: background 0.2s;
}

.nav > li > a:hover {
    background: #5D5F60;
}

.nav > li > .disabled {
    color: #888;
    cursor: default;
}

/**
 * Body
 */
html {
    height: 100%;
}

body {
    margin-top: 50px;
    height: calc(100% - 50px);
    overflow-y: hidden;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
}

/**
 * Jumbotron
 */
.jumbotron {
    background-image: url('../images/background.jpg');
    background-size: 100%;
    color: #eee;
}

/**
 * Nerve
 */
#nerve-server-status {
    color: #ccc;
    cursor: default;
    font-weight: 300;
    padding: 15px;
    line-height: 20px;
}

.tab-content > .container {
    padding: 0px;
}

/**
 * CPU
 */
.nerve-cpu-disassembler td {
    font-family: 'Inconsolata';
    font-size: 12px;
    padding-left: 10px;
    margin: 10px;
}

.nerve-cpu-registers td {
    font-family: 'Inconsolata';
    font-size: 12px;
    padding-left: 10px;
    margin: 10px;
}



