# Visual Studio
*.sln
*.suo

# Dependencies NPM and TSD
node_modules/
typings/

# Images
*.psd

# Nerve
dist/*

# External scripts not available in Bower
!dist/externals
dist/externals/*
!dist/externals/capstone/
