<!DOCTYPE html>
<html lang="en" ng-app="nerve">
    <head>
        <title>Nerve</title>

        <!-- External fonts -->
        <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

        <!-- bower:css -->
        <!-- endbower -->

        <!-- Nerve -->
        <link href="nerve.css" rel="stylesheet">
    </head>

    <body>
        <!-- Navbar -->
        <div ng-controller="ServerController" class="navbar navbar-fixed-top" role="navigation">
            <div class="navbar-header pull-left">
                <ul class="nav navbar-nav">
                    <li><a id="tab-intro" href="#/" class="navbar-brand">NERVE</a></li>
                    <li><a class="{{ !connected ? 'disabled' : '' }}" href="#/general">General</a></li>
                    <li><a class="{{ !connected ? 'disabled' : '' }}" href="#/cpu">CPU</a></li>
                    <li><a class="{{ !connected ? 'disabled' : '' }}" href="#/gpu">GPU</a></li>
                    <li><a class="{{ !connected ? 'disabled' : '' }}" href="#/memory">Memory</a></li>
                    <li><a class="{{ !connected ? 'disabled' : '' }}" href="#/files">Files</a></li>
                    <li><a class="{{ !connected ? 'disabled' : '' }}" href="#/system">System</a></li>
                </ul>
            </div>
            <div class="navbar-header pull-right">
                <form ng-show="!connected" ng-submit="connect(customServer)" class="navbar-form">
                    <input ng-model="customServer" name="server" type="text" placeholder="Server" class="form-control">
                    <button id="nerve-server-btn" type="submit" class="btn btn-success">
                        <div ng-show="!connecting">Connect</div>
                        <div ng-show="connecting" class="loader">Loading...</div>
                    </button>
                </form>
                <div ng-show="connected" id="nerve-server-status" class="navbar-nav" data-toggle="tooltip" data-placement="bottom" title="
                    <table style='text-align: left'>
                        <tr><td style='width: 50px;'></td><td></td></tr>
                        <tr><td>Device:</td><td>{{ serverInfo.device.name }} ({{ serverInfo.device.version }})</td></tr>
                        <tr><td>Host:</td><td>{{ serverInfo.host.os }} ({{ serverInfo.host.cpu }})</td></tr>
                    </table>
                ">
                    Connected to: <i>{{ serverAddress }}</i>
                </div>
                <ul ng-show="connected" id="nerve-server-actions" class="nav navbar-nav">
                    <li><a ng-click="disconnect()"><span class="glyphicon glyphicon-off"></span></a></li>
                </ul>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="modal-close close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>

        <!-- Main container -->
        <div ng-view></div>

        <hr/>

        <footer class="container">
            <p style="color: #666; font-weight: 300">&copy; Alexandro S&aacute;nchez Bach, 2014</p>
        </footer>

        <!-- bower:js -->
        <!-- endbower -->

        <!-- Capstone.JS -->
        <script src="externals/capstone/capstone-ppc.min.js"></script>

        <!-- Nerve -->
        <script src="nerve.js"></script>
    </body>
</html>
