<nui-toolbar>
    <div class="widget-input btn-group btn-group-sm">
        <label class="btn-group-addon">Cell</label>
        <label class="btn btn-default">Run</label>
        <label class="btn btn-default">Stop</label>
        <label class="btn btn-default">Restart</label>
    </div>
    <div class="widget-input btn-group btn-group-sm">
        <label class="btn-group-addon">Thread</label>
        <div id="nerve-cpu-threads-selector" class="btn-group btn-group-sm" role="group">
            <button ng-click="updateThreads()" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span ng-show="!threadCurrent">
                    <i>Select thread</i> <span class="caret"></span>
                </span>
                <span ng-show="threadCurrent">
                    ID #{{ threadCurrent.id }} <i> {{ threadCurrent.name ? '('+threadCurrent.name+')' : '' }} </i>
                    <span class="label {{ (threadCurrent.type == 'PPU') ? 'label-default' : 'label-primary' }}" style="padding: 2px 4px; font-size: 9px">
                        {{ threadCurrent.type }}
                    </span> &nbsp; <span class='caret'></span>
                </span>
            </button>
            <ul id="nerve-cpu-threads-list" class="dropdown-menu" role="menu">
                <li ng-click="setCurrentThread(thread)" ng-repeat="thread in threadList" class='nerve-cpu-threads-item'>
                    <a>
                        ID #{{ thread.id }} <i> {{ thread.name ? '('+thread.name+')' : '' }} </i>
                        <span class="label {{ (thread.type == 'PPU') ? 'label-default' : 'label-primary' }}" style="padding: 2px 4px; font-size: 9px">
                            {{ thread.type }}
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <label class="btn btn-default">Run</label>
        <label class="btn btn-default">Stop</label>
        <label class="btn btn-default">Restart</label>
    </div>
</nui-toolbar>

<div>
    <div class="col-md-8">
        <div class="widget nerve-cpu-disassembler">
            <div class="widget-title">Disassembler</div>
            <nui-toolbar>
                <div class="widget-input input-group input-group-sm">
                    <span class="input-group-addon">Address</span>
                    <input ng-model="$parent.disasmAddressHex" type="text" class="form-control" ng-maxlength="8" maxlength="8">
                </div>
            </nui-toolbar>
            <div class="widget-content">
                <table class="monospaced">
                    <tr data-ng-repeat="line in disasmLines">
                        <td style="color: #666">{{ line.addr | hexadecimal }}</td>
                        <td style="padding-right: 10px"></td>
                        <td>{{ line.value | hexadecimal }}</td>
                        <td style="padding-right: 10px"></td>
                        <td>{{ line.value | ppu:line.addr }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="widget">
            <div class="widget-title">Memory</div>
            <nui-toolbar>
                <div class="widget-input input-group input-group-sm">
                    <span class="input-group-addon">Address</span>
                    <input ng-model="$parent.memAddressHex" type="text" class="form-control" ng-maxlength="8" maxlength="8">
                </div>
                <div class="widget-input input-group input-group-sm">
                    <span class="input-group-addon">Width</span>
                    <input ng-model="$parent.memWidth" type="number" class="form-control">
                </div>
                <div class="widget-input input-group input-group-sm">
                    <span class="input-group-addon">Height</span>
                    <input ng-model="$parent.memHeight" type="number" class="form-control">
                </div>
            </nui-toolbar>
            <div class="widget-content">
                <table class="monospaced">
                    <tr ng-repeat="line in memLines">
                        <td style="color: #666">{{ line.addr | hexadecimal }}</td>
                        <td style="padding-right: 10px"></td>
                        <td style="padding-right:  5px" ng-repeat="byteHex in line.bytesHex track by $index">{{ byteHex }}</td>
                        <td style="padding-right:  5px"></td>
                        <td ng-repeat="byteStr in line.bytesStr track by $index">{{ byteStr }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="widget nerve-cpu-registers">
            <div class="widget-title">Registers</div>
            <nui-toolbar>
                <nui-radio-group ng-model="$parent.regMode">
                    <nui-radio ng-value="Integer">Integer</nui-radio>
                    <nui-radio ng-value="Float">Float</nui-radio>
                    <nui-radio ng-value="Vector">Vector</nui-radio>
                </nui-radio-group>
            </nui-toolbar>
            <div class="widget-content">
                <div id="nerve-cpu-registers-integer" ng-show="regMode == 'Integer'">
                    <table>
                        <tr><td> r0</td><td>????????????????</td><td>r16</td><td>????????????????</td></tr>
                        <tr><td> r1</td><td>????????????????</td><td>r17</td><td>????????????????</td></tr>
                        <tr><td> r2</td><td>????????????????</td><td>r18</td><td>????????????????</td></tr>
                        <tr><td> r3</td><td>????????????????</td><td>r19</td><td>????????????????</td></tr>
                        <tr><td> r4</td><td>????????????????</td><td>r20</td><td>????????????????</td></tr>
                        <tr><td> r5</td><td>????????????????</td><td>r21</td><td>????????????????</td></tr>
                        <tr><td> r6</td><td>????????????????</td><td>r22</td><td>????????????????</td></tr>
                        <tr><td> r7</td><td>????????????????</td><td>r23</td><td>????????????????</td></tr>
                        <tr><td> r8</td><td>????????????????</td><td>r24</td><td>????????????????</td></tr>
                        <tr><td> r9</td><td>????????????????</td><td>r25</td><td>????????????????</td></tr>
                        <tr><td>r10</td><td>????????????????</td><td>r26</td><td>????????????????</td></tr>
                        <tr><td>r11</td><td>????????????????</td><td>r27</td><td>????????????????</td></tr>
                        <tr><td>r12</td><td>????????????????</td><td>r28</td><td>????????????????</td></tr>
                        <tr><td>r13</td><td>????????????????</td><td>r29</td><td>????????????????</td></tr>
                        <tr><td>r14</td><td>????????????????</td><td>r30</td><td>????????????????</td></tr>
                        <tr><td>r15</td><td>????????????????</td><td>r31</td><td>????????????????</td></tr>
                    </table>
                </div>
                <div id="nerve-cpu-registers-float" ng-show="regMode == 'Float'">
                    <table>
                        <tr><td> fr0</td><td>????????????????</td><td>fr16</td><td>????????????????</td></tr>
                        <tr><td> fr1</td><td>????????????????</td><td>fr17</td><td>????????????????</td></tr>
                        <tr><td> fr2</td><td>????????????????</td><td>fr18</td><td>????????????????</td></tr>
                        <tr><td> fr3</td><td>????????????????</td><td>fr19</td><td>????????????????</td></tr>
                        <tr><td> fr4</td><td>????????????????</td><td>fr20</td><td>????????????????</td></tr>
                        <tr><td> fr5</td><td>????????????????</td><td>fr21</td><td>????????????????</td></tr>
                        <tr><td> fr6</td><td>????????????????</td><td>fr22</td><td>????????????????</td></tr>
                        <tr><td> fr7</td><td>????????????????</td><td>fr23</td><td>????????????????</td></tr>
                        <tr><td> fr8</td><td>????????????????</td><td>fr24</td><td>????????????????</td></tr>
                        <tr><td> fr9</td><td>????????????????</td><td>fr25</td><td>????????????????</td></tr>
                        <tr><td>fr10</td><td>????????????????</td><td>fr26</td><td>????????????????</td></tr>
                        <tr><td>fr11</td><td>????????????????</td><td>fr27</td><td>????????????????</td></tr>
                        <tr><td>fr12</td><td>????????????????</td><td>fr28</td><td>????????????????</td></tr>
                        <tr><td>fr13</td><td>????????????????</td><td>fr29</td><td>????????????????</td></tr>
                        <tr><td>fr14</td><td>????????????????</td><td>fr30</td><td>????????????????</td></tr>
                        <tr><td>fr15</td><td>????????????????</td><td>fr31</td><td>????????????????</td></tr>
                    </table>
                </div>
                <div id="nerve-cpu-registers-vector" ng-show="regMode == 'Vector'">
                    <table>
                        <tr><td> vr0</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td> vr1</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td> vr2</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td> vr3</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td> vr4</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td> vr5</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td> vr6</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td> vr7</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td> vr8</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td> vr9</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr10</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr11</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr12</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr13</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr14</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr15</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr16</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr17</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr18</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr19</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr20</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr21</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr22</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr23</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr24</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr25</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr26</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr27</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr28</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr29</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr30</td><td>???????? ???????? ???????? ????????</td>
                        <tr><td>vr31</td><td>???????? ???????? ???????? ????????</td>
                    </table>
                </div>
            </div>
        </div>
        <div class="widget">
            <div class="widget-title">Stack</div>
            <nui-toolbar>
                <div class="widget-input input-group input-group-sm">
                    <span class="input-group-addon">Address</span>
                    <input ng-model="$parent.stackAddressHex" type="text" class="form-control" ng-maxlength="8" maxlength="8">
                </div>
            </nui-toolbar>
            <div class="widget-content">
                Test
            </div>
        </div>
    </div>
</div>
