<div class="jumbotron">
    <div class="container">
        <h1>Nerve</h1>
        <p>An online front-end for PlayStation 3 debuggers.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Connection</h2>
            <p>Enter the address of the debugger back-end server in the top right corner. All interaction with the device goes through the RESTful API the back-end server offers. More information at: <a href="http://docs.nerve.apiary.io/">Nerve API documentation</a>.</p>
            <p>Remember to enter the server's address in the <b>IP:Port</b> format (e.g. <i>127.0.0.1:8080</i>). A mock server is available at:</p>
            <p><code>private-26787-nerve.apiary-mock.com</code></p>
        </div>
        <div class="col-md-4">
            <h2>Features</h2>
            <p>At the moment, Nerve is far from finished and the only back-end available for it is the PS3 emulator <a href="https://github.com/AlexAltea/nucleus">Nucleus</a>. These are the offered debugging features:</p>
            <ul>
                <li>Nothing!</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Goals</h2>
            <p>For receiving news about Nerve and accessing its source code and API documentation, visit <a href="https://github.com/AlexAltea/nerve">Nerve's repo</a>. These are the features I have planned:</p>
            <ul>
                <li>PPU debugger</li>
                <li>Memory viewer</li>
                <li>LV2 kernel explorer</li>
            </ul>
        </div>
    </div>
</div>
